/* Fonts */

/* merriweather-300 - latin_cyrillic */
@font-face {
font-family: 'Merriweather';
font-style: normal;
font-weight: 300;
src: local(''),
        url('../fonts/merriweather-v30-latin_cyrillic-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/merriweather-v30-latin_cyrillic-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* merriweather-regular - latin_cyrillic */
@font-face {
font-family: 'Merriweather';
font-style: normal;
font-weight: 400;
src: local(''),
        url('../fonts/merriweather-v30-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/merriweather-v30-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* merriweather-700 - latin_cyrillic */
@font-face {
font-family: 'Merriweather';
font-style: normal;
font-weight: 700;
src: local(''),
        url('../fonts/merriweather-v30-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/merriweather-v30-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* poppins-300 - latin */
@font-face {
font-family: 'Poppins';
font-style: normal;
font-weight: 300;
src: local(''),
        url('../fonts/poppins-v20-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/poppins-v20-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-regular - latin */
@font-face {
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
src: local(''),
        url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/poppins-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* poppins-700 - latin */
@font-face {
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
src: local(''),
        url('../fonts/poppins-v20-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/poppins-v20-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* General */

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.contentBox {
    max-width: 1220px;
    margin: 0 auto;  
}

a {
    text-decoration: none;
}

body {
    font-family: 'Poppins';
}



/* Header */

header {
    padding-top: 15px;
    background-color: rgb(22 27 37);
}

.headerNav {
    /* background-color: black; */
}

.theHeader {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.headerList {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 50px;
}

.headerLink:first-child {
    margin-left: 50px;
}

.headerLink {
    margin-right: 50px;
    color: white;
    /* background-color: black; */
    font-weight: 600;
}

.myColor {
    color: white;
    background-color: rgb(22 27 37)
}


/* About me */

.aboutMe {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 50px;
    max-width: 1000px;
    margin-left: 50px;
}

.imgAboutMe {
    max-width: 350px;
    /* margin-right: 55px */
}

h1 {
    font-size: 60px;
    font-weight: 500;
}

.nameAboutMe {
    max-width: 450px;
    margin-bottom: 25px;
}

.professionAboutMe {
    margin-bottom: 60px;
    font-size: 40px;
    background-color: rgb(33 37 47);
    display: inline-block;
    padding: 7px;
}

.linksAboutMe {
    margin-bottom: 5px;
}

.textAboutMe {
    margin-bottom: 20px;
}



/* Info */

p {
    line-height: 1.3;
}

h3 {
    font-size: 36px;
    font-weight: 550;
}

.infoBox {
    background-color: white;
}

.info {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    padding-bottom: 50px;
}

.textForInfo {
    padding-bottom: 25px;
}

.pInfoToText {
    padding-bottom: 5px;
}

.leftColumn {
    padding-right: 50px;
}

.rightColumn {
    max-width: 500px;
}

.lastP {
    padding-bottom: 50px;
}

.imgMyCodewars {
    max-width: 500px;
}




/* Footer */


.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(22 27 37);
    padding-top: 20px;
    padding-bottom: 20px;
}

.imgFooter {
    width: 40px;
    height: 40px;
    margin-right: 25px;
}